<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diet App</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="wrapper">  
    <header>
      <h1>Can I eat you?
      </h1>
      <nav>
        {{#if loggedIn}}
        <!-- <a href="/"></a> insert file name to take to main page/screen where we select diet and add food -->
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>  
    <main>
        {{{body}}}
    </main>
  </div>  

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>