<!-- add message at top "select diet" -->
<article>
  <h1>Select a Diet and click Search.</h1>
  <h1>To add a food, enter the food name and click Submit.</h1>

<!-- add drop down list of diets -->

  <div class="form-group">
    <select name="diet-type" id="diet-search" class="select-dropdown">
      {{!-- <option value="1">Keto</option> 
      <option value="2">Vegan</option>
      <option value="3">Paleo</option> --}}
      {{#each diets as |diet|}}
      <option value="{{diet.id}}">{{diet.diet_name}}</option>
      {{/each}}
    </select>
  </div>  
  <div class="form-group">
    <button class="btn" id="select-diet" type="submit">Submit</button>
  </div>

<!-- add food button and form field -->
  <form class="form-group">
    <div>
      <input type="text" name="food-name" placeholder="Add food name">  
    </div>
    <div>
      <div>
        <input type="checkbox" id="keto-select" name="Keto" value="1">
        <label for="keto-select">Keto</label>
      </div>
      <div>
        <input type="checkbox" id="vegan-select" name="Vegan" value="2">
        <label for="vegan-select">Vegan</label>
      </div>
      <div>
        <input type="checkbox" id="paleo-select" name="Paleo" value="3">
        <label for="paleo-select">Paleo</label>
      </div>
    </div>
    <div>
      <button type="submit">Add food.</button>
    </div>
  </form>
</article>

{{!-- add handlebar here? {{> }} --}}

<script src="/js/add-food.js"></script>
<script src="/js/search.js"></script>
