<!-- add message at top "select diet" -->
<article>
  <h1>Select a Diet and click Submit.</h1>
  <h1>To add a food, enter the food name and click Add Food</h1>

<!-- add drop down list of diets -->

  <div class="form-group">
    <select name="diet-type" id="diet-search" class="select-dropdown">
      <option value="1">Keto</option> 
      <option value="2">Vegan</option>
      <option value="3">Paleo</option>
    </select>
  </div>  
  <div class="form-group">
    <button class="btn" id="select-diet" type="submit">Submit</button>
  </div>

<!-- add food button and form field -->
  <form class="form-group">
    <div>
      <input type="text" id="food-input" name="food-name" placeholder="Add food name">  
    </div>
    <div id="diet-checkboxes">
      <div>
        <input type="checkbox" id="keto-select" name="diet" value="1">
        <label for="keto-select">Keto</label>
      </div>
      <div>
        <input type="checkbox" id="vegan-select" name="diet" value="2">
        <label for="vegan-select">Vegan</label>
      </div>
      <div>
        <input type="checkbox" id="paleo-select" name="diet" value="3">
        <label for="paleo-select">Paleo</label>
      </div>
    </div>
    <div>
      <button type="submit" id="add-food">Add Food</button>
    </div>
  </form>
</article>

{{!-- add handlebar here? {{> }} --}}

<script src="/js/add-food.js"></script>
<script src="/js/search.js"></script>
