<a href="/mainPage" class="white-text">Back</a>

<ol class="white-text col s12 left-align food-list">
  {{#each foods as |food|}}
  <li>
    {{food.food_name}} <!-- or should this be something like foodDiet food? -->
  </li>
  {{/each}}  
</ol>